  <md-content class="flex" ng-mouseleave="leave()" ng-class="gg" ng-mouseenter="enter()">
    <md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar userpanel">
      <div class="md-toolbar-tools docs-toolbar-tools" tabindex="-1">
        <div layout="row" flex="" class="fill-height layout-row flex">
          <span flex>TransCRM</span>
        </div>
      </div>
    </md-toolbar>
    <div class="menu" layout="column">
        <a data-ng-href='#/' flex >
          <ng-md-icon icon="dashboard" size="20" class="vis_icon"></ng-md-icon> Dashboard
        </a>
        <a data-ng-href='#/payments' flex>
          <ng-md-icon icon="attach_money" size="20" class="vis_icon"></ng-md-icon> Buy
        </a>
        <a data-ng-href='#/orders' flex>
          <ng-md-icon icon="games" size="20" class="vis_icon"></ng-md-icon> History
        </a>
        <a data-ng-href='#/orders' flex>
          <ng-md-icon icon="games" size="20" class="vis_icon"></ng-md-icon> Referrals
        </a>
    </div>
  </md-content>
</md-sidenav>
