<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>New Sails App</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="vendor/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="vendor/angular-loading-bar/src/loading-bar.css">
    <link rel="stylesheet" href="vendor/angular-material-icons/angular-material-icons.css">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500'>
    <link rel="stylesheet" href="vendor/nvd3/build/nv.d3.css">



    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>

    <%- body %>

    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/angular-animate/angular-animate.min.js"></script>
    <script src="/vendor/angular-aria/angular-aria.min.js"></script>
    <script src="/vendor/angular-cookies/angular-cookies.min.js"></script>
    <script src="/vendor/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="/vendor/angular-material/angular-material.min.js"></script>
    <script src="/vendor/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="/vendor/angular-messages/angular-messages.min.js"></script>
    <script src="/vendor/angular-resource/angular-resource.min.js"></script>
    <script src="/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/vendor/moment/min/moment-with-locales.min.js"></script>
    <script src="/vendor/d3/d3.js"></script>
    <script src="/vendor/nvd3/build/nv.d3.js"></script> <!-- or use another assembly -->
    <script src="/js/dependencies/sails.io.js"></script> 
    <script src="/vendor/angular-nvd3/dist/angular-nvd3.js"></script>
    <script src="/vendor/angular-sails/dist/angular-sails.min.js"></script>
    <!--SCRIPTS-->
    <script src="/js/app/module.js"></script>
    <script src="/js/app/azaaz.js"></script>
    <script src="/js/app/controllers/DashboardController.js"></script>
    <script src="/js/app/controllers/loginController.js"></script>
    <script src="/js/app/controllers/messagesController.js"></script>
    <script src="/js/app/controllers/navController.js"></script>
    <script src="/js/app/controllers/registerController.js"></script>
    <script src="/js/app/routes.js"></script>
    <script src="/js/app/services/Info.js"></script>
    <script src="/js/app/services/accessLevels.js"></script>
    <script src="/js/app/services/auth.js"></script>
    <script src="/js/app/services/currentUser.js"></script>
    <script src="/js/app/services/localStorage.js"></script>
    <script src="/js/app/services/messagesRepository.js"></script>
    <!--SCRIPTS END-->

  </body>
</html>
